<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_2023_Secimleri.Properties.Settings.Secim_Anket" connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-0SS6619\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=Secim_Anket_Uygulaması"
            providerName="System.Data.OleDb" />
        <add name="_2023_Secimleri.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-0SS6619\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=Secim_2023"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>